{% load static %}

<!DOCTYPE html>


<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Project Manager</title>
    <!-- BOOTSTRAP STYLES-->
    <link href="{% static 'assets/css/bootstrap.css'%}" rel="stylesheet" />
    <!-- FONTAWESOME STYLES-->
    <link href="{% static 'assets/css/font-awesome.css'%}" rel="stylesheet" />
    <!-- MORRIS CHART STYLES-->
    <link href="{% static  'assets/js/morris/morris-0.4.3.min.css'%}" rel="stylesheet" />
      <!-- CUSTOM STYLES-->
    <link href="{% static  'assets/css/custom.css' %}" rel="stylesheet" />
    <!-- GOOGLE FONTS-->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
    <!--FOTORAMA CSS -->
    <link  href="http://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.css" rel="stylesheet"> <!-- 3 KB -->
    <link href='https://cdnjs.cloudflare.com/ajax/libs/froala-editor/2.4.2/css/froala_editor.min.css' rel='stylesheet' type='text/css' />
    <link href='https://cdnjs.cloudflare.com/ajax/libs/froala-editor/2.4.2/css/froala_style.min.css' rel='stylesheet' type='text/css' />
</head>
<body>
    <div id="wrapper">
        <nav class="navbar navbar-default navbar-cls-top " role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{% url 'index' %}" style="font-size: 24px;">PROJECT MANAGER</a> 
            </div>
            <div class="" style="color: white;
padding: 10px 50px 0px 50px;
float: left;
font-size: 16px; max-width: 400px;">
              <form role="form" action="{% url 'search' %}" method="GET">
                <div class="form-group input-group">
                  <input type="text" class="form-control" name="search_field">
                  <span class="input-group-btn">
                      <button class="btn btn-default" type="submit"><i class="fa fa-search"></i>
                      </button>
                  </span>
              </div>
              </form>
            </div>
  <div style="color: white;
padding: 15px 50px 5px 50px;
float: right;
font-size: 16px;">{% if request.user.is_authenticated %}<a href="{% url 'logout' %}" class="btn btn-danger square-btn-adjust">Logout</a> {%endif%}</div>
        </nav>   
           <!-- /. NAV TOP  -->
                <nav class="navbar-default navbar-side" role="navigation">
            <div class="sidebar-collapse">
                <ul class="nav" id="main-menu">
				<li class="text-center">				
				<span class="icon-box">
					
					<a href="{% url 'add'%}"><i class="fa fa-plus fa-5x" style="color:#C90000;padding-top:10px; "></i></a>
				</span>
 				</li>
				
					
                    <li>
                        <a class="active-menu"  href="{% url 'index' %}"><i class="fa fa-dashboard fa-3x"></i> Все проекты</a>
                    </li>
                     <li>
                        <a  href="{% url 'finished' %}"><i class="fa fa-desktop fa-3x"></i> Завершенные</a>
                    </li>
                    <li>
                      <a href="{% url 'active' %}">Активные проекты</a>
                    </li>
                    
                </ul>
               
            </div>
            
        </nav>  
        <!-- /. NAV SIDE  -->
        <div id="page-wrapper" >
            <div id="page-inner">
                                 <!-- /. ROW  -->
           
           {% block content %}{% endblock content %}
                 <!-- /. ROW  -->
                
             <!-- /. PAGE INNER  -->
            </div>
         <!-- /. PAGE WRAPPER  -->
        </div>
     <!-- /. WRAPPER  -->
    <!-- SCRIPTS -AT THE BOTOM TO REDUCE THE LOAD TIME-->
    <!-- JQUERY SCRIPTS -->
  <script src="{% static 'assets/js/jquery-1.10.2.js'%}"></script>
      <!-- BOOTSTRAP SCRIPTS -->
  <script src="{% static 'assets/js/bootstrap.min.js' %}"></script>
    <!-- METISMENU SCRIPTS -->
  <script src="{% static 'assets/js/jquery.metisMenu.js' %}"></script>
  

  <script type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/froala-editor/2.4.2/js/froala_editor.min.js'></script>
  <script>
    $(function() {
      $('textarea#description').froalaEditor()
    });
  </script>

<!-- Include JS file. -->



   <!--FOTORAMA JS-->
  <script src="http://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.js"></script> <!-- 16 KB -->
  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-91042881-1', 'auto');
  ga('send', 'pageview');

</script>
   
</body>
</html>
