{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>{% block title %}{% endblock title%}</title>
	<link href="{% static 'assets/css/bootstrap.css'%}" rel="stylesheet" />
     <!-- FONTAWESOME STYLES-->
    <link href="{% static 'assets/css/font-awesome.css'%}" rel="stylesheet" />
     <!-- MORRIS CHART STYLES-->
    <link href="{% static  'assets/js/morris/morris-0.4.3.min.css'%}" rel="stylesheet" />
        <!-- CUSTOM STYLES-->
    <link href="{% static  'assets/css/custom.css' %}" rel="stylesheet" />
    <style type="text/css">
    	html,body,.container{
    		height: 100%;
    		background-color: #4D4D4D;
    		color:white;
    	}
    </style>
</head>
<body>

<div class="container" style="display: table;">
<div class="row" style="margin: 0 auto; display: table-cell; vertical-align: middle;">
	{% block content %}
	{% endblock content%}
</div>
</div>
<script src="{% static 'assets/js/jquery-1.10.2.js'%}"></script>
      <!-- BOOTSTRAP SCRIPTS -->
    <script src="{% static 'assets/js/bootstrap.min.js' %}"></script>
    <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-91042881-1', 'auto');
  ga('send', 'pageview');

</script>

</body>
</html>