{% extends "index.html" %}          
{% block content %}

<form role="form" method="POST" enctype="multipart/form-data" action="{% url 'add'%}">
{%csrf_token%}
    <div class="form-group">
        <label>Имя проекта</label>
        <input class="form-control" placeholder="Введите имя проекта" type="text" id="name" name="name" required/>
    </div>
    <div class="form-group">
        <label>Описание</label>
        <textarea class="form-control" rows="3" id="description" name="description" required></textarea>

    </div>
    <div class="form-group">
        <label>Прикрепить файл</label>
        <input type="file" id="project_image" name="project_file" />
    </div>
    <div class="form-group">
        <label>Ссылка на GitHub</label>
        <input class="form-control" placeholder="Ссылка на GitHub репозиторий" type="text" id="git_link" name="git_link" />
    </div>
    <div class="form-group">
        <label>Ссылка на BitBucket</label>
        <input class="form-control" placeholder="Ссылка на BitBucket репозиторий" type="text" name="bitbucket_link">
    </div>
    <button type="submit" class="btn btn-default">Submit Button</button>
    <button type="reset" class="btn btn-primary">Reset Button</button>
</form>
{% endblock content%}        