{% extends "index.html" %}    
{% block content %} 
{% for project in projects %}     
                <div class="row">
                    <div class="col-md-6 col-sm-12 col-xs-12">           
            <div class="panel panel-back noti-box">
                <div class="text-box" >
                    <p class="main-text"><a href="{% url 'retrieve' project.id %}">{{project.name}}</a>
                    <span style="float: right; text-align: right; color:#C90000;">
                    <a href="{% url 'delete_project' project.id %}"><i class="fa fa-trash-o"></i></a></span>
                    </p>
                    
                    <!-- <p class="text-muted">Time Left: 30 mins</p> -->
                    <hr />
                    <p class="text-muted">
                          <span class="text-muted color-bottom-txt"><i class="fa fa-edit"></i>
                               {{project.description}}
                               </span>
                    </p>
                </div>
             </div>
             </div>
                    
                    
                    <div class="col-md-3 col-sm-12 col-xs-12" >
                        <div class="panel back-dash" style="background-color: #01579B;">
                               <i class="fa fa-rocket fa-2x"></i><strong> &nbsp; ЗАДАЧИ</strong>
                               {% for proj in project.get_last_three %}
                             <p class="text-muted" style="text-align: left;">{{proj.name}}</p>
                              {% endfor %}
                        </div>
                       
                    </div>
                    <div class="col-md-3 col-sm-12 col-xs-12 ">
                        <div class="panel ">
          <div class="main-temp-back" style="background-color: #C90000;">
            <div class="panel-body">
              <div class="row">
                <div class="col-xs-6"> <i class="fa fa-dashboard fa-3x"></i>Процент завершения</div>
                <div class="col-xs-6">
                  <div class="text-temp">{{project.get_rate}}</div>
                </div>
              </div>
            </div>
          </div>
          
        </div>
            <!-- <div class="panel panel-back noti-box">
                
                <div class="text-box" >
                    <p class="main-text"><a href="{% url 'retrieve' project.id %}">ОТКРЫТЬ</a></p>
                </div>
            </div> -->
            
    </div>
                        
        </div>
{% endfor %}
{% endblock content %}