{% extends 'login_register.html' %}
{% block title %}
Login Page
{% endblock title %}

{% block content %}
	<div class="col-md-4 col-md-offset-4">
		<div class="row">
			{%for error in errors%}
			<div class="col-md-12 alert alert-danger">
				{{error}}
			</div>
			{%endfor%}
		</div>
		<div class="row">
		<form role="form" method="POST" enctype="multipart/form-data" action="{% url 'login' %}">
{%csrf_token%}
	        <div class="form-group">
	            <label>Имя пользователя</label>
	            <input class="form-control" placeholder="Имя пользователя" type="text" id="username" name="username" required/>
	        </div>
	        
	        <!-- <div class="form-group">
	            <label>Email/label>
	            <input class="form-control" placeholder="Электронная почта" type="email" id="email" name="email" />
	        </div> -->
	        <div class="form-group">
	            <label>Пароль</label>
	            <input class="form-control" type="password" id="password" name="password" />
	        </div>
	        <button style=" color: white;
							padding: 15px 50px 15px 50px;
							float: right;
							font-size: 16px;
							width: 100%;"
		  	type="submit" class="btn btn-success square-btn-adjust">Войти
		  	</button>
		  	<a style="color: white;
					  padding: 15px 50px 15px 50px;
					  float: right;
					  font-size: 16px;
					  width: 100%;
					  margin-top: 10px;"
		  	href="{% url 'register' %}" class="btn btn-danger square-btn-adjust">Зарегистрироваться
		  	</a>

        </form>
        </div>
	</div>
{% endblock content %}
