{% extends "index.html" %}
{% load static %}   
{% block content %}
<div class="row">
    <div class="col-md-12">
	    <h2>{{project.name}}</h2>                          
    </div>
</div>
<div class="row">
    <div class="col-md-12 col-sm-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <span class="">Описание</span>
                <span class="icon-box" style="float: right;">
                	<button class="btn btn-success" data-toggle="modal" data-target="#myModal" style="padding: 0 5px;">
                              <i class="fa fa-pencil-square-o fa-1x"></i>
                    </button>
                </span>
            </div>
            <div class="panel-body">
            <p>{{project.description|safe}}</p>
            </div>
           
        </div>
    </div>
    <div class="col-md-12 col-sm-12">
        <div class="panel panel-default">
            <div class="panel-heading">
            	<span class="">Ссылки</span>
                <span class="icon-box" style="float: right;">
                	<button class="btn btn-success" data-toggle="modal" data-target="#linksModal" style="padding: 0 5px;">
                             <i class="fa fa-pencil-square-o fa-1x"></i>
                    </button>
                </span>
            </div>
            <div class="panel-body">
            	<ul style="list-style: none;margin: 0;padding: 0;">
            		<li >
            			<span class="icon-box">
            				<i class="fa fa-github fa-2x"></i>
            				<a href="{{project.git_link}}">{{project.git_link}}</a>
            			</span>
            		</li>
            		<li style="padding-top: 5px;">
            			<span class="icon-box">
            				<i class="fa fa-bitbucket fa-2x"></i>
            				<a href="{{project.bitbuket_link}}">{{project.bitbucket_link}}</a>
            			</span>
            		</li>
            	</ul>
            </div>
           
        </div>
    </div>
</div>
<div class="row">
<div class="col-md-12">
<h4>Выполнено</h4>
<div class="progress">
	<div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="{{rate}}" aria-valuemin="0" aria-valuemax="100" style="width: {{rate}}%">
    <span class="sr-only">{{rate}}</span>
    {{rate}}%
  </div>
  </div>
</div>
</div>
<hr>
<div class="row">
	<div class="col-md-12" >
	<i style="vertical-align: sub;" class="fa fa-folder-o fa-2x"></i>
		<h4 style="display: inline;">Файлы</h4>
	<div class="row">
		<div class="col-md-12">
			<div class="panel panel-default">
				<div class="panel-body">
					<div class="table-responsive">
						<table class="table table-striped table-bordered table-hover" id="dataTables-example">
							<thead>
		                        <tr>
		                            <th>Name</th>
		                            <th>Size</th>
		                            <th>Download</th>
		                            <th>Delete</th>
			                    </tr>
		                    </thead>
		                    <tbody>
		                    	{% for file in files %}
		                    		<tr>
		                    			<td>
		                    				{{file.filename}}	
		                    			</td>
		                    			<td>
		                    				{{file.project_file.size}}	
		                    			</td>
		                    			<td>
		                    				<a href="{% url 'download_file' project.id file.id %}">
		                    					<div class="btn btn-primary">
													<i class="fa fa-download"></i>
												</div>
		                    				</a>	
		                    			</td>
		                    			<td>
		                    				<a href="{% url 'delete_file' project.id file.id %}">
		                    					<div class="btn btn-danger">
													<i class="fa fa-minus"></i>
												</div>
		                    				</a>
		                    			</td>
		                    		</tr>
	                    		{%endfor%}
		                    </tbody>
						</table>
					</div>
				</div>
				<div class="panel-footer" style="text-align: right;">
				<form role="from" method="POST" action="{% url 'upload_file'%} " enctype="multipart/form-data">
					{%csrf_token%}
					<div class="btn btn-primary" id="file_btn">
						<i class="fa fa-upload"></i>
					</div>
					<script>
						var div = document.getElementById('file_btn');
						div.onclick = function(){
							$('#project_file').click();
						}
					</script>
					<input type="hidden" name="project_id" value="{{project.id}}">	
					<input type="file" name="project_file" style="display: none;" id="project_file" onchange="this.form.submit();">
				</form>
				</div>
			</div>
		</div>
	</div>
</div>	
</div>
<div class="row">
    <div class="col-md-12">
        <i style="" class="fa fa-dashboard fa-2x"></i>
        <h4 style="display: inline;">Заметки</h4>
        <div class="row">
            <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div style="background-image: url({% static 'images/note.png' %}); width: 256px; height: 256px; position: relative;">
                    <!-- <img src="{% static 'images/note.png' %}"> -->
                    <!-- <button class="btn btn-success btn-circle" style="position: absolute; top: 100px; left:105px;"><i class="fa fa-plus"></i></button> -->
                    <a href=""><button style="outline: none; position: absolute; top: 100px; left:105px;" class="btn btn-circle btn-success"><i class="fa fa-plus"></i></button></a>
                    </div>  
                </div>
            </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
	<div class="col-md-12">
		<i style="" class="fa fa-dashboard fa-2x"></i>
		<h4 style="display: inline;">Задачи</h4>
		<div class="row">
			{% for task in tasks %}
			<div class="col-md-12" style="margin-top: 5px;">
				<form role="form" action="{% url 'switch'%}"  method="POST">
				{%csrf_token%}
				<input type="hidden" name="task_id" value="{{task.id}}">
				{% if task.status %}
					<div class="form-group input-group">
						<span type="text" class="form-control">
							{{task.name}}
						</span>
						
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="submit"><i class="fa fa-check"></i>
                            </button>
                        </span>
					</div>
					{%else%}
					<div class="form-group input-group" style="box-shadow: 1px 1px 15px -2px green;">
						<span type="text" class="form-control">
							<s>{{task.name}}</s>
						</span>
						<span class="input-group-btn">
                            <button class="btn btn-default" type="submit"><i class="fa fa-minus"></i>
                            </button>
                        </span>
                        
					</div>
                {% endif %}
				</form>
			</div>
			{%endfor%}
		</div>
		<div class="row">
		<div class="col-md-6">
			<form role="form" method="POST" enctype="multipart/form-data" action="{% url 'add_task' %}">
				{%csrf_token%}
	            <div class="form-group input-group">
	                
	                <input class="form-control" placeholder="Задача" type="text" id="task_name" name="task_name" required />
	                <input type="hidden"  name="project_id" value="{{project.id}}">
	                <span class="input-group-btn">
                            <button class="btn btn-success" type="submit"><i class="fa fa-plus"></i>
                            </button>
                        </span>
	            </div>
            	
	        	
	        </form>
	        </div>
		</div>
	</div>
</div>
<div class="row">
 <div class="col-md-6 col-md-offset-3" style="text-align: center; margin-top: 50px;">
 
 	<a href="{% url 'delete_project' project.id %}"" class="btn btn-danger btn-circle form-control" style="padding-top: 15px;"><i class="fa fa-trash-o"></i></a>

 </div>
</div>
<!---MODALS-->
<!--DESCRIPTION MODAL-->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
<form role="form" method="POST" action="{%url 'change_project_fields'%}">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title" id="myModalLabel">Редактировать описание</h4>
            </div>
            <div class="modal-body" style="padding-bottom: 0;">
                
                {%csrf_token%}
                <input type="hidden"  name="project_id" value="{{project.id}}">
                <input type="hidden" name="type" value="description">
                	<div class="form-group">
                		<textarea class="form-control" rows="5" name="description" id="description">{{project.description}}</textarea>
                	</div>
               
            </div>
            <div class="modal-footer" style="margin-top: 0;">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
     </form>
</div>
<!--LINKS MODAL-->
<div class="modal fade" id="linksModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
<form role="form" method="POST" action="{%url 'change_project_fields'%}">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title" id="myModalLabel">Ссылки</h4>
            </div>
            <div class="modal-body" style="padding-bottom:0;">
                <input type="hidden"  name="project_id" value="{{project.id}}">
                {%csrf_token%}
                <input type="hidden" name="type" value="links">
                	<div class="form-group input-group input-group-lg">
            			<span class="input-group-addon">
            				
            				<i class="fa fa-github fa-1x"></i>

            			</span>
        				<input type="text" class="form-control" name="github_link" value="{{project.github_link}}">

        			</div>
            		
            		<div class="form-group input-group input-group-lg">
            			<span class="input-group-addon">
            				
            				<i class="fa fa-bitbucket fa-1x"></i>
            				
            			</span>
            			<input type="text" class="form-control" name="bitbucket_link" value="{{project.bitbucket_link}}">

        			</div>
            		
   
               
            </div>
            <div class="modal-footer" style="margin-top: 0;">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
 </form>
</div>
{%endblock%}